/*
    Craig Ventures
    www.craigventures.com
    contact@craigventures.com
*/

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: 'Raleway', sans-serif;
}

.message-box {
    border: 1px dashed #cc0000;
    background-color: #FBEEEB;
    width: 500px;
    padding: 10px;
    color: #CC0000;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

p {
    font-weight: 400;
}

strong {
    font-weight: 700;
}

a.email-us, a.email-us:hover, a.email-us:visited {
    color: #cc0000;
}