/*
    Craig Ventures
    www.craigventures.com
    contact@craigventures.com
*/

@import url(https://fonts.googleapis.com/css?family=Lato);

body {
    text-align: center;
    font-family: 'Lato', sans-serif; 
}

h1 {
    font-size: 70px;
    padding-top: 30px;
}

a {
    color: black !important;
    text-decoration: none !important;
}
