/*
	Craig Ventures Development
	----------------------------------------
	Agent: Peter Craig
	Client: Stream Boosters
	URL: http://upitpromo.us.to/control/
	----------------------------------------
*/

@import url(https://fonts.googleapis.com/css?family=Duru+Sans);

body {
	font-family: 'Duru Sans', sans-serif;
	color: #F1F1F1;
	background-color: #262626;
}

a {
	color: #6441A5;
	text-decoration: none;
}

a:hover {
	color: #6441A5;
	text-decoration: underline;
}

fieldset {
	display: inline-block;
	border-color: #6441A5;
}

legend {
	background-color: #6441A5;
}

img {
	border: 0px;
    margin-top: 15px;
}

input {
	border: 0px;
	background-color: #B9A3E3;
	color: #F1F1F1;
	font-family: 'Duru Sans', sans-serif;
	padding: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    margin-top: 7.5px;
    margin-bottom: 12.5px;
}

form {
	display: inline;
}

input:hover, input:active {
    text-decoration: underline;
}

td {
	vertical-align: text-top;
	text-align: right;
}

.failed {
	background: #300;
}

.succeeded {
	background: #030;
}

#loginform {
	
}

#responseContainer {
	position: fixed;
	top: 5px;
	right: 5px;
	visibility: visible;
    display: inline-block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    border: 2px groove threedface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    min-width: -webkit-min-content;
    font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 10px;
}

#logoutform {
	float: right;
	position: relative;
	background-color: #6441A5;
	border-color: #B9A3E3;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	font-size: 18px;
    border: 1px solid #B9A3E3;
	color: #F1F1F1;
	padding: 7.5px;
}

#logoutform:hover {
	background-color: #B9A3E3;
    border: 1px solid #6441A5; 
}

#clientarea {
	float: right;
	position: relative;
	background-color: #6441A5;
	border-color: #B9A3E3;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	font-size: 18px;
	color: #F1F1F1;
	padding: 7.5px;
    margin-right: 5px;
    border: 1px solid #B9A3E3;
}

#clientarea:hover {
	background-color: #B9A3E3;
    border: 1px solid #6441A5; 
}

#accountInfo {
	float: right;
}

.panel-twitch {
    background-color: #6441A5;
    border-color: #B9A3E3;
    padding: 5px;
}

legend {
    margin-bottom: 0px;
    border-bottom: 1px solid transparent;
    padding: 2px;
    color: #F1F1F1;
    font-size: 18px !important;
	font-family: 'Duru Sans', sans-serif;
}

span.footer {
    background-color: #6441A5;
    padding: 5px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

input[type=textinput]:hover {
    text-decoration: none;
}

.top-panel-fixed {
    min-height: 150px;
    max-height: 150px;
}

.bottom-panel-fixed {
    min-height: 350px;
    max-height: 350px;
}