
/*------------------------------
	GREEN
------------------------------*/

body.color-green a,
body.color-green a:focus,
body.color-green a:hover,
body.color-green .navbar-default .navbar-brand,
body.color-green .navbar-default .navbar-brand:hover,
body.color-green #slideshow .feature i,
body.color-green #team span,
body.color-green label,
body.color-green .box ul li i,
body.color-green .categories ul li:hover i,
body.color-green ul.blog-detail li i {
	color:#54B132;
}

body.color-green .btn-normal,
body.color-green .btn-normal:focus,
body.color-green .scroll-up,
body.color-green .navbar-default .navbar-nav > li.active > a,
body.color-green .navbar-default .navbar-nav > li.active > a:hover,
body.color-green .navbar-default .navbar-nav > li.active > a:focus,
body.color-green .navbar-default .navbar-nav > li > ul.dropdown-menu > li > a:hover,
body.color-green #search-form .input-group .btn,
body.color-green .content-headline,
body.color-green #slideshow,
body.color-green .overlay-wrapper .overlay a,
body.color-green #footer ul li a:hover,
body.color-green ul.blog-tags li a,
body.color-green .blog-post .blog-info:after,
body.color-green .blog-post .blog-info .date div.number {
    background-color: #54B132;
}

body.color-green .navbar,
body.color-green .navbar-default .navbar-nav > li > ul.dropdown-menu,
body.color-green .form-control:focus,
body.color-green #search-form .input-group .btn,
body.color-green #services .row div:hover i {
	border-color:#54B132;
}

/*------------------------------
	RED
------------------------------*/

body.color-red a,
body.color-red a:focus,
body.color-red a:hover,
body.color-red .navbar-default .navbar-brand,
body.color-red .navbar-default .navbar-brand:hover,
body.color-red #slideshow .feature i,
body.color-red #team span,
body.color-red label,
body.color-red .box ul li i,
body.color-red .categories ul li:hover i,
body.color-red ul.blog-detail li i {
	color:#CB2027;
}

body.color-red .btn-normal,
body.color-red .btn-normal:focus,
body.color-red .scroll-up,
body.color-red .navbar-default .navbar-nav > li.active > a,
body.color-red .navbar-default .navbar-nav > li.active > a:hover,
body.color-red .navbar-default .navbar-nav > li.active > a:focus,
body.color-red .navbar-default .navbar-nav > li > ul.dropdown-menu > li > a:hover,
body.color-red #search-form .input-group .btn,
body.color-red .content-headline,
body.color-red #slideshow,
body.color-red .overlay-wrapper .overlay a,
body.color-red #footer ul li a:hover,
body.color-red ul.blog-tags li a,
body.color-red .blog-post .blog-info:after,
body.color-red .blog-post .blog-info .date div.number {
    background-color: #CB2027;
}

body.color-red .navbar,
body.color-red .navbar-default .navbar-nav > li > ul.dropdown-menu,
body.color-red .form-control:focus,
body.color-red #search-form .input-group .btn,
body.color-red #services .row div:hover i {
	border-color:#CB2027;
}

/*------------------------------
	BLUE
------------------------------*/

body.color-blue a,
body.color-blue a:focus,
body.color-blue a:hover,
body.color-blue .navbar-default .navbar-brand,
body.color-blue .navbar-default .navbar-brand:hover,
body.color-blue #slideshow .feature i,
body.color-blue #team span,
body.color-blue label,
body.color-blue .box ul li i,
body.color-blue .categories ul li:hover i,
body.color-blue ul.blog-detail li i {
	color:#3276B1;
}

body.color-blue .btn-normal,
body.color-blue .btn-normal:focus,
body.color-blue .scroll-up,
body.color-blue .navbar-default .navbar-nav > li.active > a,
body.color-blue .navbar-default .navbar-nav > li.active > a:hover,
body.color-blue .navbar-default .navbar-nav > li.active > a:focus,
body.color-blue .navbar-default .navbar-nav > li > ul.dropdown-menu > li > a:hover,
body.color-blue #search-form .input-group .btn,
body.color-blue .content-headline,
body.color-blue #slideshow,
body.color-blue .overlay-wrapper .overlay a,
body.color-blue #footer ul li a:hover,
body.color-blue ul.blog-tags li a,
body.color-blue .blog-post .blog-info:after,
body.color-blue .blog-post .blog-info .date div.number {
    background-color: #3276B1;
}

body.color-blue .navbar,
body.color-blue .navbar-default .navbar-nav > li > ul.dropdown-menu,
body.color-blue .form-control:focus,
body.color-blue #search-form .input-group .btn,
body.color-blue #services .row div:hover i {
	border-color:#3276B1;
}

/*------------------------------
	ORANGE
------------------------------*/

body.color-orange a,
body.color-orange a:focus,
body.color-orange a:hover,
body.color-orange .navbar-default .navbar-brand,
body.color-orange .navbar-default .navbar-brand:hover,
body.color-orange #slideshow .feature i,
body.color-orange #team span,
body.color-orange label,
body.color-orange .box ul li i,
body.color-orange .categories ul li:hover i,
body.color-orange ul.blog-detail li i {
	color:#F8B533;
}

body.color-orange .btn-normal,
body.color-orange .btn-normal:focus,
body.color-orange .scroll-up,
body.color-orange .navbar-default .navbar-nav > li.active > a,
body.color-orange .navbar-default .navbar-nav > li.active > a:hover,
body.color-orange .navbar-default .navbar-nav > li.active > a:focus,
body.color-orange .navbar-default .navbar-nav > li > ul.dropdown-menu > li > a:hover,
body.color-orange #search-form .input-group .btn,
body.color-orange .content-headline,
body.color-orange #slideshow,
body.color-orange .overlay-wrapper .overlay a,
body.color-orange #footer ul li a:hover,
body.color-orange ul.blog-tags li a,
body.color-orange .blog-post .blog-info:after,
body.color-orange .blog-post .blog-info .date div.number {
    background-color: #F8B533;
}

body.color-orange .navbar,
body.color-orange .navbar-default .navbar-nav > li > ul.dropdown-menu,
body.color-orange .form-control:focus,
body.color-orange #search-form .input-group .btn,
body.color-orange #services .row div:hover i {
	border-color:#F8B533;
}

/*------------------------------
	EXTRA SMALL DEVICES
------------------------------*/

@media (max-width:767px) {
	body.color-green #services .row div i {
		border-color:#54B132;
	}
	
	body.color-red #services .row div i {
		border-color:#CB2027;
	}
	
	body.color-blue #services .row div i {
		border-color:#3276B1;
	}
	
	body.color-orange #services .row div i {
		border-color:#F8B533;
	}
}
